<!-- From dojo-local.html - includes local copy of dojo from /js -->
<link rel="stylesheet" href="/css/style.css" /> 
<link id="themeStyles" href="/dojo-release-1.2.3/dijit/themes/soria/soria.css" rel="stylesheet">
<link id="dojoStyles"  href="/dojo-release-1.2.3/dojo/resources/dojo.css" rel="stylesheet"> 
<link rel="stylesheet" href="/dojo-release-1.2.3/dojox/layout/resources/ResizeHandle.css" />
<link rel="stylesheet" href="/dojo-release-1.2.3/dojox/form/resources/FileInput.css" />

<script type="text/javascript"
	src="/dojo/dojo.js"
	djConfig="parseOnLoad: true, isDebug: true">
</script>
