<!-- From dojo-xd.html - includes XD dojo from google -->
<link rel="stylesheet" href="/css/style.css" /> 
<link id="themeStyles" href="http://ajax.googleapis.com/ajax/libs/dojo/1.2/dijit/themes/soria/soria.css" rel="stylesheet">
<link id="dojoStyles"  href="http://ajax.googleapis.com/ajax/libs/dojo/1.2/dojo/resources/dojo.css" rel="stylesheet"> 
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.2/dojox/layout/resources/ResizeHandle.css" />
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.2/dojox/form/resources/FileInput.css" />

<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/dojo/1.2/dojo/dojo.xd.js"
	djConfig="parseOnLoad: true, isDebug: true">
</script>
 
 
<!-- src="http://o.aolcdn.com/dojo/1.2.0/dojo/dojo.xd.js" -->
 	    <!-- @import "http://o.aolcdn.com/dojo/1.2.0/dojo/resources/dojo.css" -->	
<!-- @import "http://o.aolcdn.com/dojo/1.2.0/dijit/themes/tundra/tundra.css" 
@import "http://o.aolcdn.com/dojo/1.2.0/dojo/resources/dojo.css"; -->