						<div id="contentToolbar" dojoType="dijit.Toolbar">
				    		<div dojoType="dijit.form.Button" id="contentToolbar.save" iconClass="contentToolbarIconSave"   
						    	showLabel="true" onclick="mainTb_function('save');">Save</div>
						    <div dojoType="dijit.form.Button" id="contentToolbar.load" iconClass="contentToolbarIconLoad"   
						    	showLabel="true" onclick="mainTb_function('load');">Reload</div>
						    <!-- The following adds a line between toolbar sections -->
						    <span dojoType="dijit.ToolbarSeparator"></span>
						    <div dojoType="dijit.form.Button" id="contentToolbar.addText" iconClass="contentToolbarIconAddText"   
						    	showLabel="true" onclick="mainTb_function('addText');">Add Text</div> 
						    <div dojoType="dijit.form.Button" id="contentToolbar.addImg" iconClass="contentToolbarIconAddImg"   
						    	showLabel="true" onclick="mainTb_function('addImage');">Add Image</div>
						    
						    <!-- The following adds a line between toolbar sections -->
						    <span dojoType="dijit.ToolbarSeparator"></span>
						    <div dojoType="dijit.form.Button" id="contentToolbar.edit" iconClass="contentToolbarIconEdit"   
						    	showLabel="true" onclick="mainTb_function('edit');">Edit</div>
				    		<div dojoType="dijit.form.Button" id="contentToolbar.cut" iconClass="dijitEditorIcon dijitEditorIconCut"   
						    	showLabel="false" onclick="mainTb_function('cut');">Cut</div>
						    <div dojoType="dijit.form.Button" id="contentToolbar.copy" iconClass="dijitEditorIcon dijitEditorIconCopy"
						    	showLabel="false" onclick="mainTb_function('copy');">Copy</div>
						    <div dojoType="dijit.form.Button" id="contentToolbar.paste" iconClass="dijitEditorIcon dijitEditorIconPaste"
						    	showLabel="false" onclick="mainTb_function('paste');">Paste</div>
					    	<span dojoType="dijit.ToolbarSeparator"></span>
					    	<div dojoType="dijit.form.Button" id="contentToolbar.settings" iconClass="contentToolbarIconSettings"
						    	showLabel="true" onclick="mainTb_function('settings');">Public</div>
						    <span dojoType="dijit.ToolbarSeparator"></span>
						    <div dojoType="dijit.form.Button" id="contentToolbar.addPage" iconClass="contentToolbarIconAddPage"
						    	showLabel="true" onclick="mainTb_function('addPage');">Add Page</div>
						    
						</div>